#login {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    height: 5em;
    align-content: center;
    align-items: center;
}

#login input {
    max-height: 20px;
    box-sizing: border-box;
    width: 100%;
    margin-right: 5px;
    display: flex;
    justify-content: center;
}

#search_bar {
    
    margin:auto;
    width: 90%;
    margin-top: 10px;
    margin-left: 30px;
    box-sizing: border-box;
    
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #5EBEC4;
    height: 100px;
    padding:50px;
    align-items: center;
    margin-bottom: 30px;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fae9b9;
}

#categories {
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-around;
}

#categories button {
    height: 25px;
    width: 10%;
    border: none;
    background-color: #5EBEC4;
    transition: ease-in-out 0.5s;
}
#categories button:hover {
    height: 25px;
    width: 10%;
    border: none;
    background-color: #F92C85;
}

#cvs {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

footer {
    position: absolute;
    width: 100%;
    transform: translateY(1vh);
}

.cv{
    border: 2px solid black;
    border-radius: 50px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items:center;
    transition: ease-in-out 2s ;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    background-color: #fffcf0;
    opacity: 0;
}

.cv-transition{
    opacity: 100%;
    width: 70%;
}
.cv div{
    border-top: 1px solid black;
    width: 100%;
    text-align: center;
    text-overflow: clip;
}

.name-surname{
    display: flex;
    justify-content: space-around;
}

.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin:15px;
    
}

.sub-form{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    margin:0;
    padding-right:50px;
    padding-top:50px;
    padding-bottom: 30px;
}

.small-input{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.large-input{
    display: flex;
    flex-direction: column;
}

#submit-cv{
    margin: 30px;
    background-color:aqua;
    font-size: larger;
    padding: 15px 20px 15px 20px;
    border: none;
    border-radius: 500px;
    transition: ease-in-out 0.5s;
}

#submit-cv:hover{
    background-color: rgb(149, 255, 255);
    box-shadow: black 0px 0px 10px 10px;
}

.sub-form div{
    margin-top: 5px;
}

.cv-form{
    width: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:15px;
    border-radius: 150px;
    background-color: #5EBEC4;
    box-shadow: black -10px -10px 50px 10px;
}

.user-console{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.skill-view{
    width: 100%;
    height: 50px;
    background-color: #5EBEC4;
    margin:5px;
}

.skill-edit{
    width: 50%;
    align-self: center;
}

#delete{
    width: 70%;
    padding-top:10px;
    padding-bottom: 10px;
    background-color: red;
    font-size: larger;
    align-self: center;
    border: none;
    border-radius: 500px;
    margin:20px;
}